[2019-09-25 09:30] FlxVctr opened #1 "Scraper-Tool Liste"

[2019-09-25 09:33] FlxVctr opened #2 "API-Tool Liste"
Sammlung an zu testenden Tools zur Sammlung von Social Media Daten via APIs.

(Assigned: Jason)

[2019-09-25 09:36] FlxVctr opened #3 "Landing Page"
Lay-understandable landing-page with

- Mission Statement
- Short concept of the SMO
- Links to all parts of the SMO that are at least in a 'public beta' stage

Realisation should be easy via github pages (https://pages.github.com/) and either Jekyll or Hugo (and academic theme: https://sourcethemes.com/academic/)

[2019-09-25 09:43] FlxVctr opened #4 "Evaluate Wiki solutions"
Assigned to Jason

[2019-09-25 10:35] FlxVctr opened #5 "DBÖS: aktuellen Stand erfassen"

[2019-09-25 10:36] FlxVctr opened #6 "Pluragraph API evaluieren"
https://pages.pluragraph.de/api/

evtl. DBÖS in MySQL o.Ä. einpflegen und mit Pluragraph synchronisieren

[2019-09-25 11:17] janhinrikschmidt commented on #6
Kurz zur Info/Background: Wir haben über Martin Fuchs vor einigen Jahren eine ganze Reihe von Datensätzen aus Pluragraph bekommen, um die DBÖS initial zu füllen. Der Kontakt bzw. die Möglichkeit besteht wohl weiterhin; wir können aber gerne mit ihm auch mal über andere Wege des Datenaustauschs sprechen. Bei Bedarf stelle ich den Kontakt her bzw. lade ihn mal zu uns ein.

[2019-09-25 11:19] janhinrikschmidt commented on #6
.. und das Überführen von DBÖS in eine SQL-Datenbank ist Teil des schleppend verlaufenden Vorhabens mit dem externen Entwickler; die DBÖS mit einem Webinterface zur Eingabe/Export von Einträgen zu versehen. Definitiv ein issue für die weitere Planung, wie wir damit vorgehen :-)

[2019-09-25 13:07] FlxVctr commented on #6
Einladen klingt gut! Zumindest das überführen in eine SQL-Datenbank sollte kein Problem für uns sein. Interface könnte man vielleicht mit Shiny basteln (womit Cornelius sich auskennt und Jason gerade mit befasst und ich auch noch lernen wollte).

[2019-09-25 13:26] FlxVctr opened #7 "Wiki-Konzept"
Ziel, Kategorien, Info-Architektur, etc.

[2019-09-27 08:31] manilevian commented on #1
Liebe Kollegen,

momentan erarbeite ich eine Liste mit funktionierenden Tools die behilflich sein können, Informationen von Social Media- und Nachrichtenplattformen  zu scrapen.
Diese Liste ist momentan noch ein Google Sheet

**EDIT:** Da es sich um eine Liste von Open Source Programmen handelt, kann ich die Liste gerne öffentlich teilen.  Hier gehts zur [Scraper Liste](https://docs.google.com/spr

[2019-10-01 09:30] young-jason commented on #2
Die aktuelle Liste findet sich hier: [Tools zur Sammlung von Social Media Daten via APIs](https://docs.google.com/spreadsheets/d/1i-sEVAcIrZg4dVrkSsFTD-Ct0hpP2mP3uaSmN9iND5E/edit?usp=sharing)

Es handelt sich um eine erste Auflistung, die laufenden Änderungen unterliegt. Das Ziel ist, die Tools zu testen und eine kurze Rezension/Empfehlung zu jedem Tool zu verfassen. Die Design-Philosophie lautet:

[2019-10-01 10:10] young-jason commented on #4
Das aktuelle Memo findet sich hier:[ Memo FGZ Wiki](https://docs.google.com/document/d/1fJ255bJWC7ts4xxSllOv2vTF1ctzzTSdoKaC4bUHH6c/edit?usp=sharing)
Die offenen Fragen werden weiterhin bearbeitet, damit wir nach Felix' Rückkehr eine abschliessende Diskussion durchführen können.

[2019-10-03 01:43] FlxVctr commented on #1
https://www.dropbox.com/s/tot9joj6axht2g3/Instagram%20workshop%20-%20AoIR2019.pdf?dl=0

@manilevian : Kannst du das mal ansehen und in die Instagram-Scraper Liste integrieren. Danke :)

[2019-10-03 01:45] FlxVctr commented on #1
Auch vielleicht ein paar interessante Kategorien in der Tabelle drin.

[2019-10-04 01:14] FlxVctr opened #8 "Add MeetUp to observed platforms long-term?"
It has a pretty open API and becomes more and more popular for offline networking.

[2019-10-07 09:49] manilevian commented on #1
Hi Felix,

vielen dank für die Präsi. Sehr hilfreiche Liste, vor allem weil ich API basierte noch garnicht integriert habe. Werde die Liste genau anschauen und unsere daraufhin editieren.

Lg.

[2019-10-14 10:06] young-jason opened #9 "Shiny App for Twitter Data Analysis"
Writing an introductory hands-on tutorial for Shiny apps and creating a Shiny app that makes it easy for non-technical users to scrape and analyze Twitter data.

A running version of the application is available at: https://jason-young.shinyapps.io/twitter-analysis/.

The code and an introductory hands-on tutorial can be found in the following [repository](https://github.com/Leibniz-HBI/Shiny-App)

[2019-10-14 10:24] FlxVctr commented on #7
![325B80C9-6253-47E4-B1E4-EFBDE91BF4B8_1_105_c](https://user-images.githubusercontent.com/8951994/66744718-6d162000-ee7d-11e9-999e-b31f6a5556d0.jpeg)

@young-jason @manilevian: On the right side is some basic category structure for the Wiki. We can take this as a first draft.

[2019-10-14 15:19] FlxVctr opened #10 "Merge API and scraper tool list in Wiki for end users"
After completion of #1 and #2 we should merge the results in a user-friendly list/table in the Wiki or a Google Spreadsheet linked/embedded in the Wiki. This list should especially exclude untested/not fully working tools and provide a good first comparison of tools sorted by platforms. Later this will be linked to more detailed descriptions and HOW TOs.

[2019-10-15 11:08] manilevian opened #11 "Workshop Concept Results"
Hi,

Here is the document, containing all the brainstorming from the SMO-Workshop.

best regards,

Mani

[Results SMO Workshop](https://github.com/Leibniz-HBI/Social-Media-Observatory/files/3728892/SMO_Workshop_16-17.09.2019_Kartchen.docx)

[2019-10-16 07:55] manilevian commented on #10
Jason and I have created [a merged Spreadsheet](https://docs.google.com/spreadsheets/d/1vZ6jOWoxcyockeNMDE5wbEcx_kSoSmkIqJ8olKyJfq0/edit?usp=sharing) to merge both of our Lists into one. We are working on the completion of the lists and will be embedding pictures or a Markdown tables within the Wiki pages on github.

You can check process here. Feel free to post any categories we might have missed

[2019-10-16 10:21] FlxVctr commented on #11
Should be implemented as issues as we go.

[2019-10-16 14:36] FlxVctr opened #12 "Look into Dash as a shiny alternative for Python"
https://dash.plot.ly/

[2019-10-17 15:56] FlxVctr opened #13 "Translate README"

[2019-10-17 16:01] FlxVctr opened #14 "Update Home Page with description of sections"
Maybe move instructions how to edit the wiki somewhere else. However, leaving them on the homepage would lower the barrier for participation in editing the Wiki.

[2019-10-23 12:43] young-jason commented on #4
Die Analyse zur Errichtung eines Wikis im Rahmen des FGZ hat ergeben, dass das Wiki vorerst auf Englisch in GitHub geführt werden soll. Github bietet den grossen Vorteil eines all-in-one-tools (Projektmanagement, Code hosting und Wiki). Außerdem ist die Bearbeitung in Markdown sehr einfach und die Wiki-Artikel können bei Bedarf einfach als Textfiles exportiert werden. Sollte im Verlauf der Zeit ei

[2019-10-23 12:43] #4 closed, assigned to young-jason

[2019-11-05 09:45] manilevian commented on #1
I will close this Issue, since it is being resolved within [the merged Scraper List Issue](https://github.com/Leibniz-HBI/Social-Media-Observatory/issues/10).

[2019-11-05 09:47] #1 closed, assigned to manilevian

[2019-11-06 17:12] young-jason commented on #9
The app has been rolled out and is available at: https://jason-young.shinyapps.io/twitter-analysis/.

The final version of the code and an extensive  documentation including an introductory Shiny tutorial can be found in the public [SMO-TMAS repository](https://github.com/Leibniz-HBI/SMO-TMAS).

[2019-11-06 17:12] #9 closed, assigned to young-jason

[2019-11-11 15:29] young-jason commented on #2
Final API Tool-List was [archived](https://docs.google.com/spreadsheets/d/1i-sEVAcIrZg4dVrkSsFTD-Ct0hpP2mP3uaSmN9iND5E/edit#gid=1462513788) and [merged](https://docs.google.com/spreadsheets/d/1vZ6jOWoxcyockeNMDE5wbEcx_kSoSmkIqJ8olKyJfq0/edit#gid=0) with the Scraper Tool List.

[2019-11-11 15:29] #2 closed, assigned to young-jason

[2019-11-11 15:34] young-jason commented on #10
Final API Tool-List was [archived](https://docs.google.com/spreadsheets/d/1i-sEVAcIrZg4dVrkSsFTD-Ct0hpP2mP3uaSmN9iND5E/edit#gid=1462513788) and [merged](https://docs.google.com/spreadsheets/d/1vZ6jOWoxcyockeNMDE5wbEcx_kSoSmkIqJ8olKyJfq0/edit#gid=0) with the Scraper Tool List. All reviewed and recommendable API-Tools were inserted into the [Tools Section](https://github.com/Leibniz-HBI/Social-Media

[2019-11-25 13:58] manilevian commented on #13
Please review the translation :)!

[2019-11-25 14:06] manilevian commented on #14
I added a [How to maintain and use this wiki](https://github.com/Leibniz-HBI/Social-Media-Observatory/wiki/How-to-use-and-maintain-the-wiki) Page to the Tutorial Section of the wiki. I havent changed the first page though.
However, I havent changed anything on the Homepage of the Wiki. We need to (maybe) add a simple short description of the Wiki (Why, what and where) and ofc. how you can particip

[2019-11-27 13:02] manilevian commented on #12
I had a quick look into it and it seems very fluent and does everything which shiny does too.
I might try to implement it into my Instagram App for testing purposes!

There are a lot of preprogrammed Dashboards which you can also choose from instead of creating your own. Dash is completely equal to Shiny and isn't missing any features you'd wish for.

[2019-12-04 15:26] FlxVctr commented on #14
I agree, we should rather have a summary of the main sections (Tools, Tutorials, Ethics) and their purpose on the home page.

[2019-12-04 15:36] FlxVctr commented on #13
thanks

[2019-12-04 15:36] #13 closed, assigned to manilevian

[2019-12-04 15:37] FlxVctr commented on #10
@manilevian can this issue be closed?

[2019-12-05 16:13] FlxVctr commented on #14
@manilevian I did something. Please have a look and close issue or comment.

https://github.com/Leibniz-HBI/Social-Media-Observatory/wiki

[2019-12-10 09:47] manilevian commented on #14
@FlxVctr looks really good. Thats exactly what I was thinking about. We can simply add the rest whenever we have the content.

[2019-12-10 11:17] #14 closed, assigned to nobody

[2019-12-11 11:35] manilevian commented on #8
I checked out Meetup a bit. Indeed the API is very open, but we have to consider these facts about them:

1. They "only" have 35mil users by 2017
2. They charge their Users 24$/month for creating groups and similar. Which slows down growth.
3. Facebook has just renewed their group functions to compete with meetup (They ofc. charge nothing but your data ;))
4. The owner is WeWork, which I assume, y

[2019-12-11 12:00] FlxVctr opened #15 "Look into web scraping tools by Barbaresi"
Presented during lunch lecture 11. Dec 2019:

https://github.com/adbar/trafilatura
Web scraping library: downloads web pages, finds main text and comments, converts to TXT, XML & TEI http://adrien.barbaresi.eu/research.html

https://github.com/adbar/htmldate
Find the creation date of web pages using common structural patterns, text-based heuristics and robust date extraction

[2019-12-11 12:23] FlxVctr opened #16 "Explore DWDS media corpora"
https://www.dwds.de/r

[2019-12-11 15:59] FlxVctr opened #17 "Add/Switch instagram-scraper"
https://github.com/rarcega/instagram-scraper

[2019-12-11 16:24] FlxVctr commented on #8
Well, we already have the platforms that are part of the original proposal. But we could rethink this during our meeting in January when we want to decide on milestones.

I like the idea of a priority list for the more elaborated concept of the SMO. We should discuss that.

[2019-12-11 16:25] FlxVctr opened #18 "Platform priority list?"
See #8

[2019-12-11 16:26] #8 closed, assigned to manilevian

[2019-12-13 09:39] manilevian commented on #17
changed it within the "merged scraper list" and changed the Link within our Wiki. Also the Table has been updated.

I have also rechecked all the apps :)!

[2019-12-13 10:11] manilevian opened #19 "Adding "About Webscraping" to Wiki!"
I thought about a wikipage, which introduces people to Web Scraping and specially shows the limitations and possibilities. This could also be solved with a FAQ. I am not sure what the best solution is. Any thoughts?

[2019-12-13 10:20] FlxVctr commented on #19
I would start with a general FAQ or a Glossary that deals with all kinds of terms that might need some explanation for some readers. It it is less of an effort. We can then extend single terms/questions from that to a whole page when deemed necessary.

[2019-12-13 10:25] FlxVctr commented on #19
Actually, I'd start with a glossary and have FAQ when we get actual questions more often.

[2019-12-13 10:40] FlxVctr commented on #17
Link is not updated
Picture/table should show that user info is also available via instagram scraper

[2019-12-13 10:46] FlxVctr commented on #17
Also, description should include (actually for every tool) whether posts can be searched for by location, hashtags, and users.

[2019-12-13 11:28] manilevian commented on #17
Thanks for checking!
I changed the table accordingly and added User Info to the IG-S.
I also added location/user to the description. I will reevaluate the location/Usr search in the following days for ALL Apps and edit the other descriptions.

[2019-12-13 13:17] #17 closed, assigned to manilevian

[2019-12-13 13:19] FlxVctr opened #20 "Improve/systematise Instagram Tools Site"
Features should be categorised by:

1. What can be searched for
    e.g.: location feeds, user feeds, hashtag feeds
2. What is collected
    e.g.: user data, date, location, comments, ...

[2019-12-13 13:22] FlxVctr commented on #17
Made an issue for that: #20

[2019-12-16 10:18] manilevian commented on #18
In the prior Issue my intention was looking at the amount of users that every social Network has. I used [this chart](https://www.statista.com/statistics/272014/global-social-networks-ranked-by-number-of-users/) for my evaluation. Apparently I did not have a premium account at statista to be able to see, how the numbers were evaluated and why couple of Asian and Russian Networks are not popping up

[2019-12-16 11:25] manilevian commented on #15
Hi,

Trafilatura is pretty much something like "NewsPlease" or "Scrapy" (I guess :D) which have both been covered in our [General News Scraper Section](https://github.com/Leibniz-HBI/Social-Media-Observatory/wiki/General-News-Scraper). The Scraper is lightweight and only scrapes the html code and sorts its elements. I don't know if thats enough for it to be added.

In my eyes, we could add it as a

[2019-12-16 11:56] manilevian opened #21 "Scrape Modules!"
Hey,

I could add the Modules under every Social Media Tool site.
Alternatively, I could make a Scrape Modules Site, for more advanced researchers and simply link all Social Networks Modules in one page. ofc. with descriptions and more.

The argument for a new site is, that we would not overload the toollist and keep it simple. On the other hand, less sites are more lucid.

Whats your opinion :)?

[2019-12-16 12:00] FlxVctr commented on #21
I'd put them at the bottom of the existing pages with a clear hint that this is for advanced users only.

[2019-12-16 12:22] manilevian commented on #20
I added the two questions under every scraper from 1-6.
I made a cut between the Modules and actual easy to use apps.
 I haven't had time to test the Modules under the two questions above, But i will check them out soon. Since two of those modules are Java and PHP based, I will have to take a bit more time to test them since I am not a java/php pro :)!

EDIT:

Oh and I removed the Instagrab (for n

[2019-12-16 12:36] FlxVctr opened #22 "Test (and maybe add) fbSim to Facebook Tools"
https://github.com/morenomancosu/fbSim/

[2019-12-16 16:26] FlxVctr opened #23 "Collect ethic guidelines for research involving (social) media data"
https://aoir.org/ethics/ for example

[2019-12-17 10:33] FlxVctr commented on #23
RatSWD [Rat für Sozial- und Wirtschaftsdaten] (2019): Big Data in den Sozial-, Verhaltens- und Wirtschaftswissenschaften: Datenzugang und Forschungsdatenmanagement. RatSWD Output 4 (6). Berlin, Rat für Sozial- und Wirtschaftsdaten (RatSWD). https://doi.org/10.17620/02671.39

[2019-12-18 12:57] FlxVctr opened #24 "Test and add Facepager to Facebook Tools"
https://twitter.com/jajuenger/status/1207024036032786432?s=20

[2019-12-18 13:43] manilevian commented on #24
This app is actually on my "Check later for improvements" list :D! He finally got approved which is pretty cool. Before the API wrapping kept failing and therefore it didnt make the List. I will work through the app in the following week. I am still in the mids of the Instagram tests.

[2019-12-18 14:10] FlxVctr opened #25 "Find/develop solution to retrieve all replies to a list of tweets"
e.g. based on this:

https://gist.github.com/edsu/54e6f7d63df3866a87a15aed17b51eaf

or simply via scraping.

Got asked for a solution to this quite a few times this year.

[2019-12-19 10:22] manilevian commented on #25
Do I understand correctly, they want to get reply's from a fixed set of comment ID's or do they want to specify a user? I dont really understand where they want to start. In Theory a scraper would probably be almost as time intense as doing this over the API. I really would rather go the "scrape way" (maybe because i'm getting more familiar with standard scraping).

I could probably code a scraper

[2019-12-20 13:01] FlxVctr commented on #25
To a specific user would be easy. The other thing is more challenging. That's why people are asking for a solution. We don't have to prioritise this now. It is just something I wanted to note for later.

I'd be more comfortable with the API approach, which is actually pretty easy. But we can also decide later to do both. In any case, this does not have to happen before our "Twitter Semester".

[2019-12-20 13:02] FlxVctr commented on #25
You would start, e.g., with a keyword search, and then you want to get all replies and replies to replies to the resulting Tweets.

[2019-12-24 13:57] manilevian commented on #25
So probably the best way is a hashtag search > fetch those comments > fetch their replies > option to ecxtract into one or multiple files! Atm i dont see the time for doing it, as we got alot to do with the wiki and more coming in 2020. But if i catch some spare time i will be very pleased to get into the issue and the twitter sphere :)

[2019-12-30 12:02] manilevian commented on #24
I worked through the App and it amazingly works for Twitter, Youtube and Facebook. The documentation is very good too, it has a GUI running on Linux,Mac and Win, which makes it the very first GUI program we have :). I am still not done with the ocumentation, but I will add it to our list. I

[2019-12-30 12:21] manilevian commented on #20
I changed some stuff up, can you maybe go through the layout and see if its good as it is. If thats the case ill start with the other networks.

[2019-12-30 13:32] FlxVctr commented on #20
Looks good overall. However, I'd organise the answers to the questions as bullet points as well.

Additionally, it would be nice to have more consistency in the feature list, i.e. if it does the same it should also have the same bullet point (e.g. location ID and location feed, is it the same? If so, I think we should call it the same. Otherwise these, and similar features would need some explanat

[2019-12-30 13:34] FlxVctr commented on #20
Also, now there seems some overlap between "Features" and the answers to the questions. I'd cut the features which are already contained in the questions and only list "additional features". Does this make sense?

[2019-12-30 13:36] FlxVctr commented on #24
Great, thank you!

[2020-01-02 14:39] FlxVctr commented on #23
DGPuK: https://www.dgpuk.de/sites/default/files/fachgruppen/AG_Forschungsdaten%20Empfehlungen%20DGPuK.pdf

[2020-01-06 15:05] FlxVctr opened #26 "Read and summarise new Twitter for academics page"
https://developer.twitter.com/en/use-cases/academic-researchers

For example we can use their tool recommendations as a start for our Twitter tool list (even though it can definitely be improved, e.g. Tweepy is badly maintained for ages while twarc is imho the go to tool for Python now, and still Twitter recommends Tweepy first)

[2020-01-06 15:12] #10 closed, assigned to manilevian, young-jason

[2020-01-06 15:14] #7 closed, assigned to FlxVctr, manilevian

[2020-01-07 13:32] manilevian commented on #26
Hi there,

I can edit our Merged Scraper List according to their recommendation.
We already have a huge list of Twitter Tools. You can check those up in the merged scraper list. I haven't made a complete Twitter List on our wiki, because i am not done testing them all to know which will actually make the list :)!

I think a lot of those tools are already in our tool list. I will compare them and e

[2020-01-08 12:11] FlxVctr opened #27 "Twitter-Scraper"
via email

[2020-01-08 12:22] manilevian commented on #27
Looks very interesting and promising: https://github.com/twintproject/twint
Added it to out merged scraper list on gmail to evaluate the possibilities later

[2020-01-10 14:14] stephandreyer commented on #23
Fraunhofer IOSB (2019), GUIDEline - Leitlinien für den Datenschutz in der wissenschaftlichen Forschung zu Aspekten der Mensch-Technik-Interaktion, https://www.iosb.fraunhofer.de/servlet/is/77819/GUIDELine.pdf

[2020-01-13 10:43] manilevian commented on #20
What I did so far is, i merged the features+metadata lists into one. Therefore it’s way shorter. Also I erased the overlapping between the "questions" and the "features". Some features have been erased completely, since the questions already answer that.
I added a "Advanced Libraries" list under the supported applications. I added a small text, that we cannot support those apps and that they will

[2020-01-13 14:01] manilevian opened #28 "Timeline for 2020"
Here the recap and timeline of our meeting:

![recap1](https://user-images.githubusercontent.com/55234866/72261564-5ebed800-3615-11ea-8553-cd27b98a1116.jpg)

![recap2](https://user-images.githubusercontent.com/55234866/72261476-30d99380-3615-11ea-80a3-7f4984f58da3.jpg)

If the pictures are unclear, here is a static pdf where i copied the board :)!
[Timeline.pdf](https://github.com/Leibniz-HBI/Soci

[2020-01-14 10:56] manilevian commented on #27
Twint was already in the list (I remember Jason talking about it) and I added the twitterscraper to it too. I'll close the ticket for now  and evaluate the Twitterscraper.

[2020-01-14 10:56] #27 closed, assigned to nobody

[2020-01-14 11:37] manilevian commented on #26
So i Just went through their list and like you said, its not really updated or in a specific order. On the other hand they have a handful of applications I haven't had heard of at all.

DocNow.io seems really promising. The project is also behind [twarc](https://github.com/DocNow/twarc) and another App called ["DocNow"](https://github.com/DocNow/docnow) which seems to be a general API wrapper of s

[2020-01-14 12:12] janhinrikschmidt opened #29 "Check Heidelberg Cloud"
https://heicloud.uni-heidelberg.de/heiCLOUD

könnte evtl. für unsere Infrastruktur in Frage kommen (Sebastian hat da nähere Infos bzw. auf dem Zettel, dort mal Projekte "auszulagern"

[2020-01-14 14:04] manilevian commented on #29
Klingt auf dem ersten Blick tatsächlich sehr entspannt. Wissen wir wieviel die Kosten genau aussehen würden? Falls nicht kann ich den Damen und Herren gerne eine Anfrage schicken, hierfür bräuchte ich lediglich folgende Infos:

- Projektname (nur intern):
- Projektbeschreibung (nur intern):
- Anzahl vCPUs:
- RAM in GB:
- HDD in GB:
- Anzahl öffentlicher IPv4 Adressen:

Ich habe leider noch kein Be

[2020-01-14 14:35] manilevian commented on #3
My friend just send me this site: https://startbootstrap.com/
Contains loads of templates in huge, jekyll and others.
Thought i'll share ;)

[2020-01-15 10:34] manilevian commented on #19
Hey i created a google doc to gather as many terms as possible. After that, we can filter what really needs a definition or not. For now just don’t think too much about "Do we really need this?", just put it where it belongs and we'll think about the importance later.

[Here the Link to the Doc](https://docs.google.com/document/d/1eX5Vx_R3-Glxcr0LMp_XxRi0nxtAgZ80keHWFoW1HZ0/edit?usp=sharing)

[2020-01-15 15:18] FlxVctr commented on #19
Hm, I'd rather save the time and only explain words on a needs-basis (such as web scraping). Maybe your first idea was actually the best. Create a Wiki Page "Web Scraping", maybe also just as a stub, or link to a good explanation somewhere else, if we feel that a term may need some explanation.

[2020-01-15 15:19] FlxVctr commented on #19
That enables us to just, in classical wiki manner, create a dead link [[to something]] while writing.

[2020-01-15 16:33] FlxVctr commented on #29
Gerade haben wir t2.medium bei AWS (mit nem 256GB Volume): https://aws.amazon.com/ec2/instance-types/

Das sind 2 cores (ca bis zu 3GHz) und 4GB RAM.

Es wäre allerdings gut, noch mehr cores und RAM flexibel zur Aufteilung auf weitere Instanzen zur Verfügung zu haben. Hängt davon ab, wie schnell sowas dann genehmigt wird, ob wir das gleich beantragen würden oder erst bei Bedarf.

Ich würde allerdi

[2020-01-15 16:48] FlxVctr opened #30 "Ideas for reference data sets"

[2020-01-15 17:06] FlxVctr opened #31 "Roadmap 2020-2024"

[2020-01-15 17:09] FlxVctr opened #32 "Platform-Project Template"
We need a template for a project plan for every platform/media type-centred (Twitter, Online-Media, Facebook, Instagram, Wikipedia) half-year that enables us to do a pilot study, do the necessary documentation in the wiki, and prepare the workshop to disseminate the competencies gained working with the respective platform.

[2020-01-15 17:13] #21 closed, assigned to manilevian

[2020-01-16 15:40] FlxVctr commented on #26
I wouldn't add Postman or Insomnia at all as they seem rather targeted at API developers. Feel free to disagree, but I'd need an example where they'd be handy in an academic data collection.

[2020-01-16 15:43] FlxVctr opened #33 "Scout docnow's Tweet collections"
https://www.docnow.io/catalog/

[2020-01-16 15:46] FlxVctr commented on #26
I'd add Hydrator to the Twitter tools though if it works well. Very handy then

[2020-01-16 15:54] FlxVctr commented on #20
I do not think that the formulation of sentences in bullet points works well here. E.g.:

should rather be

I would not mention modules that we cannot support at the moment. So only Python and R tools should remain (and GUI tools of course).

[2020-01-20 09:51] manilevian commented on #29
Ich wollte erstmal preise zwischen den Anbietern vergleichen. Nix offizielles ;)

[2020-01-20 09:56] manilevian commented on #20
I have changed the bullet points. Hope its okay like this.

Also I have a "Advanced Libraries" category under the Instagram page. Showing Libraries and Modules. Should i remove those ?! I clearly mentioned that people need programming knowledge to get those programs to work and that we cannot support these programs atm.

[2020-01-22 16:06] FlxVctr commented on #20
Better now, but I don't understand, what 'ID or Tag' means under Instamancer. Also, the 'by' in 'by hashtag' should be cut (also below) to make the structure of all tool descriptions uniform.

What can be collected does not make sense for Instaphyte. If I can search for users, I cannot collect their media?

What means 'media of all sorts' (Instagram Scraper)?

'MEDIA only scraper' could also just

[2020-01-22 16:09] FlxVctr commented on #20
Regarding the advanced libraries: Can they do something that the others cannot? If so, keep them. Otherwise, I rather lean towards removing them, as they just cause clutter that we cannot support or assess.

[2020-01-22 16:18] FlxVctr opened #34 "Work through list to complete community standards"
https://github.com/Leibniz-HBI/Social-Media-Observatory/community

Especially the Code of Conduct, Contribution Guidelines and the License should be completed.

[2020-01-26 13:00] manilevian commented on #34
Do we want to write a own one or can we use a template. Seen a couple which could be used for us too.

[2020-01-26 13:17] manilevian commented on #20
I will remove the Advanced Libs on monday, since I will need to change the table too. They are not too different and on a researchers perspective I dont think they have anything to add that is crucially different.

The ID/TAG thing is mistyped. Tags = Hashtags and ID is f.e Location-ID / User-ID.
Media of all sorts has been changed to media, since its videos and pics. Changed Media only to media.

[2020-01-27 11:32] manilevian commented on #20
Hey,

I unified the "What can be searched" for and ofc also the "What can be collected". If you see a point where i missed it, please tell me so.

I also edited the table and made it a bit more readable. The Advanced Libs have ben removed from the wiki and can only be found in our merged scraper list and they have been marked red.

[2020-01-28 15:50] FlxVctr commented on #34
Re CoC I like and already have used this one as a template: https://www.contributor-covenant.org/

Also for the other stuff I'd base everything on existing guidelines.

[2020-01-29 10:19] manilevian commented on #26
Well since they are API clients and still need programming skills, i guess we can cut them. I wrote this as I had a "Advanced Tools" list in mind. Since we cut that, we can also cut the two tools.

Hydrator will be added, which brings me to the following question: Since hydrator is not really a scraper, do we want to make a "Useful tools" page, or just add them to the platforms tool site. They jus

[2020-01-29 13:15] FlxVctr commented on #26
Twitter tools would be the place I'd look for such a tool if I'd be a SMO user. You?

[2020-01-29 13:34] FlxVctr commented on #20
Now I think, some points need some explanation (which again, should be the same for the same thing in different tools). E.g., I do not get what is meant by collecting 'hashtags'.

[2020-01-29 13:35] FlxVctr commented on #20
Also, what is the difference between feed and posts?

[2020-01-29 14:01] manilevian commented on #20
A user feed (google) is what is on a users "Storyline", it will be shared more widly. It differs from a normal post. But still I was wrong at one point and switched to feed when i meant post. So changed that too.

What are "some points" please be more specific, there are a lot of points! ;)

Hashtags shouldnt be in the collected category, changed that!

[2020-01-29 14:04] manilevian commented on #26
Well imo id put them also wherever they are being used. I would probably add a "Other Usefull Tools" to the bottom of the page. I would also not make a table for them because it wouldnt make sence :D

[2020-02-03 13:05] #12 closed, assigned to manilevian

[2020-02-03 13:07] #28 closed, assigned to nobody

[2020-02-03 15:01] FlxVctr commented on #26
![](https://media.giphy.com/media/bKnEnd65zqxfq/source.gif)

[2020-02-04 15:27] FlxVctr opened #35 "test reaper / socialreaper"
https://github.com/ScriptSmith/socialreaper

https://reaper.social

[2020-02-05 10:10] manilevian commented on #20
Hey, i checked the exact difference between the Instagram Story and Post/Feed. Was kind of  in a hurry last week.

**Post:** A single posting of a media content onto Instagram. People can comment on that.

**Feed:** Your whole list of posts on your profile, listed on instagram, is your feed.

**Story:** The Story are posts  that are accessible when following someone on instagram.n  It exclusively

[2020-02-05 14:31] #34 closed, assigned to nobody

[2020-02-05 15:05] manilevian commented on #20
Please comment and check out the new layout of the wiki, I took out the „what can be collected/searched for“. Made it a little bit more slick, added links to git and documentations(If present), added note-able features if there are any, added limitations, if any were somehow important to note. Rechecked the ability of the scrapers and changed the table.

I just don’t know where the best spot is to

[2020-02-05 15:58] FlxVctr commented on #20
Layout is good but Instagram scraper can collect comments and metadata.

I would just put a "**Installation via**: pip/npm/git clone" below notable features. Later we can add a How to for installation of both.

[2020-02-05 16:00] #11 closed, assigned to nobody

[2020-02-06 10:27] manilevian commented on #20
Hehehe almost forgot about the Instagram Scraper confusion we had couple of weeks ago :). You're absolutely right, it has the option to download the metadata.

I already have added the "Installation via:" in my scrap and will copy paste after going through a spell check!

[2020-02-06 10:35] FlxVctr commented on #20
Ok, but see that you don't overwrite my changes I made in the meantime

[2020-02-06 10:40] manilevian commented on #20
As far as i know i copied your version ;)!

[2020-02-06 13:38] FlxVctr commented on #20
Well, if in doubt, work with the git repo

[2020-02-07 09:54] manilevian commented on #20
Its all good, your changes are in there.

[2020-02-07 10:56] FlxVctr commented on #23
Oxford Research Support: https://researchsupport.admin.ox.ac.uk/policy/data
[data_protection_and_research.pdf](https://github.com/Leibniz-HBI/Social-Media-Observatory/files/4170365/data_protection_and_research.pdf)

[2020-02-12 12:40] FlxVctr opened #36 "Read and excerpt "Low cost research tools" paper"
https://journals.sagepub.com/doi/abs/10.1177/0894439320904318

[2020-02-12 13:28] FlxVctr commented on #36
Paper is in Zotero SMO group

[2020-02-17 14:32] FlxVctr opened #37 "Collect news scrapers"
https://github.com/fhamborg/news-please

[2020-02-17 17:21] FlxVctr opened #38 "Explore SSO data"
https://socialscience.one/blog/unprecedented-facebook-urls-dataset-now-available-research-through-social-science-one

[2020-02-18 09:31] manilevian commented on #37
Hey, we have a whole list of News Scrapers in our Merged Scraper List on Google. We simply havent added them to the wiki yet.

Here the Link to the [Scraper List](https://docs.google.com/spreadsheets/d/1vZ6jOWoxcyockeNMDE5wbEcx_kSoSmkIqJ8olKyJfq0/edit?usp=sharing)

Also News Please is in there! You can find the table under the name "General Scrapers"

[2020-02-18 10:44] manilevian commented on #20
Hi,

If you have the time, could you quickly go through the Instagram Scrapers and check if it fits our requirements by now? So we can close this Issue finally :D

[2020-02-18 11:33] manilevian commented on #22
has been added to the merged scraper list.

[2020-02-18 11:33] #22 closed, assigned to nobody

[2020-02-18 11:55] manilevian commented on #38
Hi,

I read through some of their stuff. The proposal sounds very useful. They have achieved a way to bypass certain laws and rules by the GDPR, which wouldn't allow the collection of data, even if it is anonymized. Therefore they used a way only fetch the URL of a users which then (as far as I understood) is anonymized. So they actually never use any data that would help to reveal a person.
Despi

[2020-02-18 13:15] manilevian commented on #16
Hi,

I registered myself. I didn't get a confirmation mail nor can i Login, tried it with other credentials but that didn't work either. I'll wait another 24h and see if anything will follow. For now I only have limited access to the site. But it seems useful as it is a partially open database that reaches from 1900 - 1999. there are also newer Datasets which are not added to the search option (yo

[2020-02-18 14:19] FlxVctr opened #39 "Apply for SSO URL access"

[2020-02-18 14:23] #38 closed, assigned to nobody

[2020-02-18 14:56] FlxVctr commented on #20
Almost ready, looks good! Some final points:

## Table

what's the difference between '-' and 'x'?

## Keys

If user info includes followers and followings in general, why is it an own key?

## Description

'Github and Download' is not necessarily the case, as most people won't download the tool from github. Do you mean installation instructions? Maybe just leave 'Github'.

## Other tools
Empty. I

[2020-02-18 15:16] FlxVctr opened #40 "CrowdTangle Zugang"
https://socialscience.one/rfp-crowdtangle

[2020-02-18 15:18] FlxVctr commented on #39
https://socialscience.one/rfps

[2020-02-18 16:05] FlxVctr commented on #37
@manilevian Ok, I'd put the link to the Google Doc also in the Wiki (maybe below the table on each page)

[2020-02-18 16:07] FlxVctr opened #41 "finalise first version of Twitter data collection tools in wiki"
At least with the tools we already have in the Google Spreadsheet. Template is the Instagram tools wiki page.

[2020-02-18 16:12] FlxVctr commented on #5
@janhinrikschmidt Can you please send me the printout you had last time with the overview of DBÖS?

[2020-02-19 11:16] manilevian commented on #20
Hi,

**Table**
The - describes that the scraper is only capeable to scrape certain metadata but not all. I will make sure to add a description for that!

**Keys**

User Info includes the number of the Followers and followings but not the information of the followers/followings. Scraping the followings means it will actually pull the whole list of followers with their userinfo. I added "number of"

[2020-02-19 12:17] manilevian commented on #41
While doing this, I was thinking about the SMO-TMAS app that Jason did during his time in the institute. Would you add the application to the List or would you say, it's basically not that important. It doesn't do anything that is groundbreaking towards the other apps. Therefore my thoughts were cutting it from the list. Also I don't know if Jason will have the time to maintain it over the next ye

[2020-02-19 12:26] manilevian opened #42 "Check out Archives Unleashed Project!"
I added https://archivesunleashed.org/ to our DB List on google. Think its okay to stay ? Seems like a really cool project :D!

[2020-02-19 14:42] FlxVctr commented on #41
I'd leave it in, also because it's a nice example how to create a shiny app (which is a good topic for the how to section). (On a side note: Before, we were thinking to exclude R apps, but I think we should rethink that. It's too popular in the community and we can actually build up the competence to give some support.)

But make sure to include the stuff by [VOSON Lab](http://vosonlab.net/) as we

[2020-02-19 14:49] FlxVctr commented on #42
Looks interesting indeed

[2020-02-20 11:13] FlxVctr commented on #20
Good work! Thanks 🙏

[2020-02-20 11:13] #20 closed, assigned to manilevian

[2020-02-24 11:01] manilevian commented on #41
Ohrighty, I added VSON back to the list.
Also I will keep the TMAS app within the list!

[2020-02-25 12:54] manilevian commented on #41
First version is online and ready to check! I used the same wording as for the IG Tools. Hope its okay like that.

[2020-02-25 12:57] manilevian commented on #33
Has been added to [The Google Sheet](https://docs.google.com/spreadsheets/d/1T7c4Ag2JSALE1AVdr3BjyJRYTQagYabY3MbN-ENprz4/edit?usp=sharing) ;)!

[2020-02-25 12:57] #33 closed, assigned to nobody

[2020-02-25 13:02] manilevian commented on #37
I added a little note to the end of the Ig- and twitter tools site. If the sentence is okay like that, i'd add it to the upcoming tool sites too. Just give me your go :D

[2020-02-25 14:46] FlxVctr commented on #37
I'd cut the justification for why we left out some tools and just say something along the lines that if people want to check out/comment on our working document they can do it there.

[2020-02-25 15:58] FlxVctr commented on #16
Any updates?

[2020-02-26 16:53] manilevian commented on #16
So i didnt get any email but i could login anyways.
I can now access alot of data. I will need more time to exame the possibilities and more. Its ... a lot. For now i cannot download data but i can access it using the site, which is only useful for small work. But as I said, i only had limited time to examine the site. Will get into this soon.

[2020-02-27 09:28] FlxVctr commented on #16
Don't prioritise the exploration of the datasets. I just wanted to know whether we have access and how long it takes to get it. Exploration of these datasets should be mainly part of the Online Media milestones, so first half of 2021. Correct me if I'm wrong.

[2020-03-02 09:07] manilevian commented on #16
Ohrighty. We can definitely access the data after registration and it is kind of irritating because you cannot reset password and don't get any confirmation of any kind.

Good thing is, you can simply login after registration. So no problem on that side :)!

[2020-03-02 10:25] manilevian commented on #42
The project is really interesting they have a toolkit for archive-it. Archive-it is a site that aims to save the "cultural heritage" of the internet. Its connected to archive.org basically ;)! So, archivesunleashed is not directly a database but its a toolbox for the advance usage of archive-it. Basically for the usage of the toolbox you need an archive-it account.

Took a while to find out how :D

[2020-03-02 10:36] manilevian commented on #3
Quickly summarizing what happened in the meanwhile :)!

- We added a repo for out landing page on GitHub, which you can access [over here ](https://github.com/Leibniz-HBI/SMO)
- We added the necessary pages and redirects to the site
- The site is now accessible over the following link: https://leibniz-hbi.github.io/SMO/

I will close this Issue on this repo. If you have any issues considering the

[2020-03-02 10:36] #3 closed, assigned to FlxVctr

[2020-03-02 11:00] manilevian commented on #26
Added hydrator to "Other useful tools" within the Twitter wiki.  Ignored the other tools after evaluating again. Other tools were already in out merged list and now on the twitter wiki.

We cut the advanced tool list from every social network, since we only will add supported tools. Therefore no advanced tool list for twitter :D!

Tweet catalogue has been added to our DB list on google.

Other Iss

[2020-03-02 11:00] #26 closed, assigned to nobody

[2020-03-02 11:41] FlxVctr opened #43 "Go through DMI tool list"
https://wiki.digitalmethods.net/Dmi/ToolDatabase

Add relevant tools to Wiki.

[2020-03-02 11:48] FlxVctr commented on #30
@cbpuschmann are you still working on this? https://docs.google.com/document/d/1nm_erZPDkGpf5xZtTLJWhu0aghEibky2cutL19hYL5s/edit?ts=5e53cd38

[2020-03-02 11:50] FlxVctr opened #44 "Extend about page based on SMO concept for FGZ"

[2020-03-06 16:20] FlxVctr commented on #41
* Installation via <--> Installation trough. Choose one.
* Notable Features: Some of them are notable limitations (cf. Instagram tools)
* Twint is not API based according to the description, but API based according to the table
* Installation via/trough:
    * pip3 is pip.
    * Facepager: I assume you mean they have installation packages for these platforms, please clarify
* TAGS: Documentation l

[2020-03-07 13:01] FlxVctr opened #45 "Add ICON to datasets"
https://icon.colorado.edu/#!/networks

Especially the data in the subdomains communication and/or online is interesting to us. Maybe we need another category in the datasets wiki section for this, something like "Collections" – a meta-category of other collections, which contain open access and access on request data.

[2020-03-16 12:11] manilevian commented on #41
Thanks a lot!

- Changed all to "Installation via"

- Added limitations if there are any!

- Changed the Table and edited twint to non api

- changed all to pip

- Installation via for Hydrator and Facepager have been clarified (I guess)

- VosonDash has been added, SML therefore removed. I have only had a day of testing the app, so i am sorry if its a bit "Slick". I will hopefully find time testi

[2020-03-16 20:17] FlxVctr opened #46 "Check out Twitter Explorer"
https://arxiv.org/pdf/2003.03599.pdf

We present an open-source interface for scientists to explore Twitter datathrough interactive network visualizations. Combining data collection, trans-formation and visualization in one easily accessible framework, thetwitterexplorerconnects distant and close reading of Twitter data through theinteractive exploration of interaction networks and semantic networ

[2020-03-17 14:49] manilevian commented on #46
https://github.com/pournaki/twitter-explorer

here the link to the application. It sounds pretty promising and easy to use, ill test through it today/tommorrow and add it to our list.

[2020-03-18 11:23] FlxVctr opened #47 "Sift through Google research datasets for relevant data, add as a ressource"
https://research.google/tools/

[2020-03-18 11:45] FlxVctr opened #48 "evaluate Google Colab"
Google provides hosted Jupyter notebooks for free: https://colab.research.google.com

Pretty neat, especially for workshops, and analyses that need GPU capacities, as this comes in a batteries included kind of style with Colab.

But I am not sure in how far we can recommend it for longer term use and research projects, especially regarding data security, GDPR and other regulatory/ethical issues.

[2020-03-18 12:11] FlxVctr opened #49 "Evaluate Cloud Computing Services"
We have to choose a main provider for VMs and maybe services similar to Google BigQuery (i.e. scalable and performant data storage). This decision has to be documented.

Possible candidates:

* Google Cloud (actually personally my preferred option, as it has worked well for the Trisma project at QUT)
* AWS
* Heidelberg Cloud

[2020-03-18 12:12] FlxVctr commented on #49
Feel free to add more providers.

[2020-03-18 15:43] manilevian commented on #29
I'll link this to Issue #49 and close this one :)!

[2020-03-18 15:43] #29 closed, assigned to nobody

[2020-03-18 17:45] FlxVctr commented on #41
Some minor things that caught my eye:

1.

The link behind here is not very specific.

2. I think we should specify what a tool can collect, maybe in its description, if we have only 'partially' in the table. What do you think?

[2020-03-18 17:46] FlxVctr commented on #41
So, for example, for twarc, I'd be interested what information it doesn't collect for location.

[2020-03-23 11:29] manilevian commented on #41
I will add this link to the direct rate limits: https://developer.twitter.com/en/docs/basics/rate-limits

In fact, twarc can search for locations and also pull the needed information for a tweets location, if it is a non priv. information. Therefore the table is wrong.

The only Application that would need a new information therefore is our SMO-TMAS. Since its a visual application i am not sure if

[2020-03-24 19:35] FlxVctr commented on #41
Cool, thanks :) Let me know when you're done.

[2020-03-30 09:39] manilevian commented on #41
Changed the table, added "No local installation needed" to SMO-TMAS!

I checked through the table, and all features should be marked correctly. The features have been checked again and all are defined or noted as limitation. The links to all documentations have been checked, please ensure if the documentation links for VSON are okay now, since they only have a forum, it wasnt so easy to find :)!

[2020-03-31 15:51] FlxVctr opened #50 "Evaluate Grafana as a Tableau alternative"
https://grafana.com/

[2020-03-31 16:04] FlxVctr commented on #18
@manilevian do we still do this or can we close/postpone this? I'd like to close the milestone.

[2020-03-31 16:09] FlxVctr opened #51 "Create ethics white paper for SMO"

[2020-04-01 08:57] manilevian commented on #18
Ofc. we can focus on what we have to clear out now. So its really okay to postpone this. Also we have a lot of new emerging exciting social networks which we will need to evaluate later on!

feel free to close ;)!

[2020-04-01 09:46] #18 closed, assigned to manilevian

[2020-04-03 18:58] FlxVctr commented on #41
Looks good! Closing this for now. Thanks for your work 👍

[2020-04-03 18:58] #41 closed, assigned to manilevian

[2020-04-03 19:03] FlxVctr opened #52 "Find/Write script that converts the wiki markdown into a jekyll site"
There are some scripts out there but some of them are pretty old.

Goal is to be able with one command to:

* clone/pull the wiki markdown files
* generate the necessary files for a jekyll site
* place them into a simple jekyll template
* push the whole thing to a repo which creates a pretty version of the wiki

[2020-04-07 12:34] FlxVctr commented on #30
Outlined our ideas in the wiki: https://github.com/Leibniz-HBI/Social-Media-Observatory/wiki/Datasets

Closing #30

[2020-04-07 12:34] #30 closed, assigned to cbpuschmann

[2020-04-14 12:09] manilevian commented on #50
Hey,

I took a week of getting into Tableau and was working on a side project with Grafana and got to know both a bit better. Tableau although, I must admit, not as deep as Grafana so my conclusion MIGHT be biased!! :D

The main factors leading to Grafana being the "better" solution might be pricing and the fact that Grafana works magnificent with multiple data points. Tableau works rather bad wit

[2020-04-14 13:56] FlxVctr opened #53 "Explore Social Media Monitor by GESIS"
http://mediamonitoring.gesis.org/documentation/

- possible overlaps?
- how have they realised their dashboard?
- should it be listed in our tool lists?

[2020-04-14 13:59] FlxVctr opened #54 "First Data Management Plan"
What data is stored where for how long accessible by whom and how is it backed up.

[2020-04-14 15:37] FlxVctr commented on #50
Thanks, this seems a sound way to go forward!

[2020-04-14 15:37] FlxVctr commented on #50
We should add both tools to our Analysis Tools list.

[2020-04-14 15:38] #50 closed, assigned to manilevian

[2020-04-14 15:39] FlxVctr opened #55 "Add Grafana and Tableau to Statistics Analysis Tools list"

[2020-04-14 17:31] manilevian commented on #55
Well we didn’t have a list yet but i guess its time to make one:

[Here it is](https://docs.google.com/spreadsheets/d/1lHQxgzh9zGnn-tb8UPpPppIjZO1Env0qho6rdfYrnMc/edit?usp=sharing)

here it is. I also added another 2 names. I haven’t really thought about any categories to sort them. I added some, but i think we will have to reevaluate those. I also think we cannot handle thinks the way we did for

[2020-04-15 17:41] FlxVctr commented on #55
Because these tools will get pretty complex I'd just have a pro and con list so far.

Category-wise I like the categories we have in the wiki so far (Network Analysis, Content Analysis, Statistics (which would be the right one for Tableau and Grafana)), but that might change.

[2020-04-15 17:42] FlxVctr commented on #55
Pro and Con List as well as a three sentence purpose summary ofc.

[2020-04-22 13:17] FlxVctr opened #56 "Explore GDELT and add summary to dataset collection in wiki"
https://www.gdeltproject.org/

[2020-04-22 13:31] FlxVctr commented on #56
Also:

https://blog.gdeltproject.org/visualizing-eight-years-of-twitters-evolution-2012-2019/

https://blog.gdeltproject.org/a-look-at-gdelts-open-ai-datasets-video-imagery-speech-and-natural-language-understanding/

https://blog.gdeltproject.org/the-top-newsworthy-twitter-accounts-of-2016-2019/

[2020-05-05 10:18] FlxVctr commented on #53
I just got access to their codebase and they're happy with us using, updating and deploying something with it ourselves. The project is in hibernation at the moment on their side though.

[2020-05-21 19:52] FlxVctr opened #57 "Check out RNewsflow"
https://github.com/kasperwelbers/RNewsflow

[2020-06-25 12:23] FlxVctr opened #58 "Explore German comment datasets and decide on curation in Wiki"
frei zugänglicher Datensatz vom Standard u.a. mit Artikeln, Kommentaren und Moderationsentscheidung: https://ofai.github.io/million-post-corpus/
The Polly Corpus: online political debate in Germany:
http://www.organisms.be/downloads/polly.pdf
http://www.organisms.be/downloads/jaki2018.pdf
https://docs.google.com/spreadsheets/d/1c5peNMjt24U0FcEMSj8gD_JjzumqXTWbPWa_yb2nNt0/edit#gid=1445690638
https:

[2020-06-25 12:25] #5 closed, assigned to janhinrikschmidt

[2020-06-25 12:27] FlxVctr opened #59 "Create workflow/concept for maintaining and updating politicians list in DBÖS"

[2020-06-26 15:32] adbar commented on #15
Hi, I just stambled upon this issue, thanks for your interest! Your [wiki page](https://github.com/Leibniz-HBI/Social-Media-Observatory/wiki/General-News-Scrapers) seems quite relevant.

I can answer some of your concerns: `trafilatura` has gotten better since your test, both in terms of accuracy and functionality.
With a colleague of mine we also did some research on text extraction and found out

[2020-06-26 15:54] FlxVctr commented on #15
@adbar: Thx for bringing those evaluations to our attention. We'll have a second look into it. Also, feel free to propose changes/other additions to the News Scraper wiki page.

[2020-07-10 15:36] FlxVctr opened #60 "Explore POLUSA dataset"
https://arxiv.org/pdf/2005.14024.pdf

Even though it's about US media it might spark some ideas for a German dataset

[2020-08-13 12:37] FlxVctr commented on #25
This should solve the problem: https://twittercommunity.com/t/new-conversation-id-field-and-operator-makes-it-possible-to-easily-retrieve-complete-conversation-threads/139613

[2020-09-11 11:12] FlxVctr opened #61 "Update Twitter Tools regarding Premium API"
Update https://github.com/Leibniz-HBI/Social-Media-Observatory/wiki/Twitter-Tools to include information on whether each tool is able to access the Twitter Premium API.

[2020-09-22 14:28] FlxVctr opened #62 "Evaluate and add Twitter parliamentarian database to wiki"
https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0237073

[2020-09-22 14:29] FlxVctr commented on #59
This will be helpful for triangulation of politicians' data: Twitter parliamentarian database https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0237073

[2020-09-22 14:30] #23 closed, assigned to FlxVctr, JanRau

[2020-10-01 11:19] FlxVctr opened #63 "add python and r graph library to ressources in wiki"
https://python-graph-gallery.com/
https://www.r-graph-gallery.com/

[2020-10-26 14:44] FlxVctr opened #64 "add twitterexplorer to Twitter Tools Page"
https://twitterexplorer.org/index.html

[2020-10-26 14:57] FlxVctr opened #65 "evaluate streamlit for webapp development"
https://www.streamlit.io/

[2020-10-26 16:17] FlxVctr opened #66 "explore Open Intelligence Lab"
https://oilab.eu/

especially the 4cat tool

[2020-10-27 13:11] FlxVctr opened #67 "explore Penelope platform"
https://penelope.vub.be/

[2020-11-04 10:23] FlxVctr opened #68 "Explore tools for data anonymisation/pseudonymisation/differential privacy etc."

[2020-11-17 10:31] FlxVctr commented on #59
working on it here now: https://github.com/Leibniz-HBI/DBoeS-Automatization

[2020-11-17 10:44] FlxVctr commented on #62
Also follow up on collaboration (contact via Odycceus)

[2020-11-17 10:46] FlxVctr commented on #64
see #46

[2020-11-18 11:28] FlxVctr opened #69 "Evaluate Netzschleuder"
Just another, but very well made, network data repository: https://networks.skewed.de/

Evaluate and, if considered useful, summarize in the dataset section.

[2020-11-19 15:22] FlxVctr opened #70 "Add tweepy to Twitter tools"
Other Python modules in the wiki still are not as comprehensive.

[2020-11-23 08:14] Khandoker09 commented on #52
I have cloned markdown file and generated jekyll template .
the template might need to edit to get more professional look.
you can find it under "leiniz-HBI/SMO-wiki" repo
and the jekyll template is under this link.
https://leibniz-hbi.github.io/SMO-Wiki/

[2020-11-23 11:25] FlxVctr commented on #52
I think we can work with that. Some adjustments to colour etc.

Does the sidebar support a nested layout?

[2020-11-23 12:09] Khandoker09 commented on #52
sidebar does not allow nested layout yet. but i can edit the sidebar by editing the css file. Maybe also have to add the search option .

[2020-11-23 12:21] FlxVctr commented on #52
At some point, can you give us a quick write-down/flow-diagram with a rough concept, how to automate the import from the wiki, so that we can discuss that?

[2020-12-01 11:07] grenwi opened #71 "Create special Wiki:Page "Recent changes" for the SMO wiki"
The rendered website version of the Wiki should have a "recent changes" page which is automatically created from the commit history of the wiki repository

[2020-12-21 15:28] grenwi opened #74 "Research Facebook tools"
Similar to the [Twitter Wikipage](https://github.com/Leibniz-HBI/Social-Media-Observatory/wiki/Twitter-Tools) do a systematic research on Tools for Facebook data collection:
* Tools should give users with (limited) programming skills access to API data or scraping from the platform page
* Tools should be actively maintained to be included in the list
* Tools should be described comprehensively for

[2020-12-21 15:31] grenwi opened #73 "Research Youtube tools"
Similar to the [Twitter Wikipage](https://github.com/Leibniz-HBI/Social-Media-Observatory/wiki/Twitter-Tools) do a systematic research on Tools for Youtube data collection:
* Tools should give users with (limited) programming skills access to API data or scraping from the platform page
* Tools should be actively maintained to be included in the list
* Tools should be described comprehensively for

[2020-12-21 15:50] grenwi commented on #74
* Tools can be GUI-based, or R packages or python libraries or else
* if possible, install and test the tools before writing the description

[2020-12-21 16:10] grenwi commented on #74
Also add a Section for CrowdTangle into the FB page:
* brief description what CT is, what data it provides and how scholars can get access

[2020-12-21 16:16] grenwi opened #72 "Research Instagram tools"
Similar to the [Twitter Wikipage](https://github.com/Leibniz-HBI/Social-Media-Observatory/wiki/Twitter-Tools) do a systematic research on Tools for Instagram data collection:
* Tools should give users with (limited) programming skills access to API data or scraping from the platform page
* Tools should be actively maintained to be included in the list
* Tools should be described comprehensively fo

[2020-12-29 16:59] FlxVctr commented on #72
There's already a lot here:

https://github.com/Leibniz-HBI/Social-Media-Observatory/wiki/Instagram-Tools

Additional tools which weren't included here:

https://docs.google.com/spreadsheets/d/1vZ6jOWoxcyockeNMDE5wbEcx_kSoSmkIqJ8olKyJfq0/edit#gid=0

[2020-12-29 17:02] FlxVctr commented on #74
Can we close https://github.com/Leibniz-HBI/Social-Media-Observatory/issues/24 then?

[2020-12-29 17:04] FlxVctr commented on #74
Also, there are already a few collected by Mani here: https://docs.google.com/spreadsheets/d/1vZ6jOWoxcyockeNMDE5wbEcx_kSoSmkIqJ8olKyJfq0/edit#gid=0

[2021-01-12 07:46] Khandoker09 commented on #73
You can find the all finding here

https://github.com/Leibniz-HBI/SMO-Wiki/blob/main/_pages/YouTube%20Tools.md

[2021-01-19 18:47] FlxVctr commented on #72
Transferring this issue to the main repository. Possibly a duplicate though.

[2021-01-19 18:50] FlxVctr commented on #73
Transferring to main repo. Possibly a duplicate. Please check for an older issue with the same topic and close one of both.

[2021-01-19 18:51] FlxVctr commented on #74
Transferring to main repo. Possibly a duplicate. Please check for an older issue with the same topic and close one of both.

[2021-01-20 10:00] #52 closed, assigned to Khandoker09

[2021-01-28 14:51] #24 closed, assigned to nobody

[2021-01-28 14:52] #67 closed, assigned to nobody

[2021-01-28 14:54] #46 closed, assigned to nobody

[2021-01-28 14:54] #48 closed, assigned to nobody

[2021-01-28 14:54] #49 closed, assigned to grenwi, FlxVctr

[2021-01-28 14:54] #65 closed, assigned to nobody

[2021-01-28 14:54] #66 closed, assigned to nobody

[2021-01-28 15:00] #31 closed, assigned to grenwi, FlxVctr, JanRau

[2021-01-28 15:01] #25 closed, assigned to nobody

[2021-01-28 15:02] FlxVctr commented on #6
Will be its own project. Closing

[2021-01-28 15:02] #6 closed, assigned to FlxVctr, JanRau

[2021-02-01 11:14] FlxVctr opened #75 "Update Twitter Tools"
1. Test tools already in our list. Remove deprecated tools.
2. Document Tools from https://developer.twitter.com/en/docs/twitter-api/tools-and-libraries that are either usable with a GUI, from the command line/Terminal, or in Python or R scripts.
3. Test tools and add those that work well to the Twitter tool list in the wiki
4. Sort all Tools by "No Programming needed" (i.e. CLI and GUI tools), an

[2021-02-01 11:18] #40 closed, assigned to grenwi

[2021-02-01 11:25] #69 closed, assigned to nobody

[2021-02-01 13:26] JanRau opened #76 "Stephans input for instructions for non-legal experts on legal data protection considerations"
- Stephan tries to schedule a meeting with fellow layers until mid February

[2021-02-01 13:28] FlxVctr commented on #75
Also have a look at the tool-related issues here: https://github.com/Leibniz-HBI/Social-Media-Observatory/milestone/7

[2021-02-01 14:18] FlxVctr commented on #75
Also, please document the "last-tested" date to every tool.

[2021-02-05 22:59] FlxVctr opened #77 "Update installation procedure in wiki for WSL and pipenv"
- installation should be done while logged in with admin account
 - user must check for any outstanding updates (!)
 - make sure to execute kernel update as admin (it might not prompt for that)
 - update with more detailed instructions how to install pipenv (with `pip3 install` not `apt install`)
 - maybe also add installation of pyenv (not done yet, so has to be figured out  by assignee)
 - add i

[2021-02-09 10:48] FlxVctr opened #78 "Setup remote dev env for RAs"
--> Xubuntu + X2go (https://wiki.x2go.org/doku.php); maybe have one VM per SHK (can be safely deleted after contracts have ended)
--> How do we describe the dev system setup (e.g. ansible)

[2021-02-26 18:20] FlxVctr opened #79 "Fix links in Ethics"
https://smo-wiki.leibniz-hbi.de/Research-Ethics-and-Law

Needs proper Markdown URLs to work in "rendered" version.

[2021-03-10 20:56] FlxVctr commented on #79
Fixed. It's enough to have links in double square brackets for them to appear properly in the rendered wiki: like this
`[[https://example.com]]`

[2021-03-10 20:56] #79 closed, assigned to JanRau

[2021-03-16 10:34] #75 closed, assigned to Khandoker09

[2021-03-16 10:35] #73 closed, assigned to Khandoker09

[2021-03-16 10:37] grenwi opened #80 "Add Amsterdam tool to YT list in the Wiki"
JPR sends all the info needed

[2021-03-16 10:38] #72 closed, assigned to Khandoker09

[2021-03-16 10:38] #74 closed, assigned to Khandoker09

[2021-03-16 10:39] #70 closed, assigned to nobody

[2021-03-16 10:40] #63 closed, assigned to Khandoker09

[2021-03-16 10:46] #59 closed, assigned to FlxVctr, manilevian

[2021-03-16 10:49] #55 closed, assigned to nobody

[2021-03-16 17:59] JanRau opened #81 "Code an automated ping to make sure that all linked websites in the wiki are still online"
Aufgabe: automatisch von Zeit zu Zeit die Links anpingt und schaut, ob die noch online sind

Vorgehen 1:
Man könnte einen Test dafür schreiben, der bei jedem Build das testet
Mit pytest und requests
(oder unittest, aber pytest ist einfacher mE)
Braucht nur eine test.py irgendwo und dann pytest in dem build-script hier aufrufen: https://github.com/Leibniz-HBI/smo-wiki/blob/main/build.sh
Wo würde ic

[2021-03-29 12:15] FlxVctr opened #82 "Template for Twitter Academic API application"

[2021-04-01 19:15] FlxVctr opened #83 "Try GESIS notebooks and add to wiki"
https://notebooks.gesis.org/

[2021-04-06 09:44] #80 closed, assigned to Khandoker09, JanRau

[2021-04-06 09:46] #61 closed, assigned to nobody

[2021-04-06 09:52] grenwi opened #84 "Structure and extend the Datasets wiki page"
- check out "databases" label of issues
- find a good structure to describe datasets on the "Datasets" page
- add a table with meaningful categories to describe the datasets
- descriptions in fulltext can be very short

[2021-04-06 09:53] FlxVctr opened #85 "Add macOS dev setup instructions to wiki"

[2021-04-06 09:53] #37 closed, assigned to nobody

[2021-04-15 21:52] FlxVctr opened #86 "Wiki page/section: storage & archiving tools, including encryption"

[2021-04-15 21:54] FlxVctr commented on #86
Separate by data size:

e.g.
large:
- Databases in encrypted LUKS volumes
- borg-backup

small:
- Nextcloud with Cryptomator

[2021-04-19 11:24] Khandoker09 commented on #68
# Data Anonymization Tools
Data privacy is very important for those who especially work in industries like social media, healthcare, retail or financial sectors However, personal data in the wrong hand can jeopardize the security of individuals. To protect personal data from the wrong hand the concept of data anonymization was introduced. data anonymization is a process of altering identifiable da

[2021-04-20 09:30] #77 closed, assigned to FlxVctr, JanRau

[2021-04-20 09:31] #32 closed, assigned to grenwi, FlxVctr, JanRau

[2021-04-20 09:33] #64 closed, assigned to Khandoker09

[2021-04-21 09:25] #86 closed, assigned to FlxVctr

[2021-04-21 16:05] FlxVctr commented on #68
The tools look good. Maybe scrap the introduction, it's a bit off-topic and would need work on understandability.
Have you tested the tools with some test data? You could use the parliamentarian data from the Dboes-Automatization repo, for example.

Instead of the detailed features, I'd rather try to describe the typical use-cases. While ARX seems to be written for actual studies, Anonimatron seem

[2021-04-21 16:05] FlxVctr commented on #68
Also, instead of the introduction, try to make transparent what your selection criteria were. Why are those tools included and not others?

[2021-04-21 16:08] FlxVctr commented on #68
Also: The online version of Amnesia should not be recommended by us. Using JavaScript tools is ok locally. But remotely it is considered unsafe.

[2021-04-21 16:10] FlxVctr commented on #68
It'd be also interesting whether the tools have a CLI or programming module version, which can be used to anonymise data automatically on arrival.

[2021-05-03 10:19] Khandoker09 commented on #19
# Web scrapping:

It’s a process of extracting data or information from a website and turn that information’s into a useful format for further analysis. A Typical process of web scraping is, first fetch the target webpage then parse information from that page. Next format the information into a useful format and then store then in a database or server for further analysis.

## Web scraper:

A web

[2021-05-03 10:27] Khandoker09 commented on #68
Fixed the intro according to the requirement. will test with dboes data this week

[2021-05-03 10:28] Khandoker09 commented on #68
fixed

[2021-05-03 10:29] Khandoker09 commented on #68
described in the intro

[2021-05-06 13:06] #85 closed, assigned to FlxVctr

[2021-05-10 12:02] Khandoker09 commented on #35
#  [Reaper](https://reaper.social/):

reaper is API based tool for social media analysis. It is useful for people with less programming knowledge. It has its own GUI and supports almost all common social media. Also, it's a multiplatform tool. To use this tool, first [download](https://github.com/ScriptSmith/reaper/releases) the software for the operating system then need the [api key](https://com

[2021-05-14 16:38] FlxVctr commented on #19
Can you post that in a Google Doc or similar? That will make working on it easier.

[2021-05-14 16:42] FlxVctr commented on #68
Thanks for the changes. Can you please put that in a Google Doc (simply in Markdown Syntax) or in our OX, so that we can finalise that? Please make it editable by me and assign the issue to me when you think it's ready for feedback.

[2021-05-14 16:49] FlxVctr commented on #35
add to the tested platform sections as discussed (Twitter and misc)

[2021-05-24 21:24] Khandoker09 commented on #68
https://github.com/Khandoker09/markdown_syntax
* this might do the work. I have created a private repo and invite you as a collaborator. I will wirte here and then maybe you can edit them if you want
*  i tried to check what you change after my editing
* can we sit for 5-6 min to discuss that ?  so that i know exact syntax of the wiki
Or maybe we can define a common syntax rule for the wiki for th

[2021-05-25 11:30] FlxVctr commented on #68
As discussed, I think, a collaborative document file like GDocs, OX, or OnlyOffice will work better for drafting new articles.

[2021-05-31 09:26] Khandoker09 commented on #19
https://docs.google.com/document/d/1LU0JRvxSsykstQxsk0rdgIzSkffxfcR_6DiPyEjFopE/edit?usp=sharing

[2021-05-31 11:04] Khandoker09 commented on #58
| Name                                                         | Format              | Description                                                  | Platform                                        | Provider                       | Open-source | Relavent link                                                | Release  Year |
| ------------------------------------------------------------ | ---------

[2021-05-31 11:04] Khandoker09 commented on #58
https://docs.google.com/document/d/1sxj3AWWVbQ4v_LcTHPc2s6k11w38gmrXNqpBvNTglOg/edit?usp=sharing

[2021-06-04 18:17] FlxVctr commented on #58
I have added comments to the doc. Can you please additionally indicate which datasets you have decided to exclude and why? Thanks!

[2021-06-04 18:47] FlxVctr commented on #19
I've added suggestions and comments to the GDoc.

[2021-06-08 16:41] pekasen opened #87 "Wrap DirtyJSONParser as a CLI-tool to parse dirty JSON"
[DirtyJSON parser](https://www.npmjs.com/package/dirty-json) looks promising for recovering corrupted JSON-files. It's a node.js-package so it might need a CLI interface for convenience.

[2021-06-08 16:47] FlxVctr commented on #87
How often do JSON files corrupt? Or are you thinking about scraping use-cases? Maybe elaborate in which situations that's helpful.

[EDIT: just saw that you tagged it with Scraping 😅]

[2021-06-15 10:10] Khandoker09 opened #88 "add content in data preparation and cleaning page of wiki"

[2021-06-29 08:04] Khandoker09 commented on #88
propocessed outline of the page

https://docs.google.com/document/d/1h4YiyvesQGf5ba4vOv-R-L1SY198kbYpaMvCYQNQClI/edit#heading=h.c24r636kb9zs

[2021-06-30 15:47] FlxVctr opened #89 "add Twitter API 101 course by Twitter to Wiki"
https://github.com/twitterdev/getting-started-with-the-twitter-api-v2-for-academic-research

Work/sift through the course, write a short summary (3 sentences) and add to https://smo-wiki.leibniz-hbi.de/Courses

[2021-07-02 08:04] Khandoker09 commented on #88
I have created an outline of the page. since the name of the page is data cleaning and preparation, so first of all I have explained EDA and Set some parameters of the data preprocessing and cleaning. now from those EDA parameters, I will try to find the functions from pandas, r, and open-refine related to described parameters.

[2021-07-05 07:31] Khandoker09 commented on #89
added, however, I have written the summary in  4 lines. I hope that's okay. ..

[2021-07-05 14:10] FlxVctr commented on #89
Thanks, needed some work, pushed it to the website:
https://smo-wiki.leibniz-hbi.de/Courses

[2021-07-05 14:10] #89 closed, assigned to Khandoker09

[2021-07-09 18:37] FlxVctr commented on #88
Thx. I have added some comments to the Doc.

[2021-07-27 09:34] Khandoker09 commented on #88
thanks for the comment i have updated the documents

[2021-08-03 07:36] Khandoker09 opened #90 "Add page with markdown editor"
find
free multi platform  markdown editor

[2021-08-03 08:37] Khandoker09 commented on #90
https://docs.google.com/document/d/1paz72xQAYXDodpbmOccLpZNuMvMHqWEwcHo4cedF9Sk/edit?usp=sharing

[2021-08-10 10:37] Khandoker09 opened #91 "Add data explore to visualization tools"
- https://snapcraft.io/dataexplore

[2021-08-16 16:55] FlxVctr commented on #88
This looks better. But I would merge the tools with the problems, i.e. have the structure:

# Problem
Description of Problem
## Solution in OpenRefine
Very short summary and link to Tutorial or missing wiki entry
## Solution in Python Pandas
Very short summary and link to Tutorial or missing wiki entry
## Solution in R
Very short summary and link to Tutorial or missing wiki entry

What do you thin

[2021-08-16 17:21] FlxVctr commented on #90
I added some comments. Please revise. Thank you!

[2021-08-16 17:22] FlxVctr commented on #91
I don't understand, have you added it yet?

[2021-09-21 09:16] Khandoker09 commented on #91
https://docs.google.com/document/d/1WexRczcGdgvtNa7oZZXQqn4pIhYPQ0-BhhnO1JWj8yY/edit#

[2021-09-28 10:00] Khandoker09 opened #92 "Add Docanno"
https://docs.google.com/document/d/1y5UJGMZOGmU8hWmhrvajwhFGOAhmYP0EVA6zaY8Df9c/edit#

[2021-10-12 09:52] Khandoker09 commented on #91
Thank you for your comments , I fix it according to your suggestions

[2021-12-03 12:47] FlxVctr opened #93 "Konzept DELETEME File"

[2021-12-03 13:51] FlxVctr opened #94 "Add Nominatim to Wiki"
Maybe this needs a new category longterm for location data tools: https://github.com/osm-search/Nominatim

[2022-04-13 09:25] kerosafr opened #95 "Dropdown elements"
rgeretr

[2022-05-06 10:47] #51 closed, assigned to FlxVctr, JanRau

[2022-05-11 10:21] #68 closed, assigned to Khandoker09

[2022-05-11 10:51] vomJupiter commented on #35
somehow reaper ended up on the tool list for instagram instead of twitter/facebook. was that on purpose or does this needs to be fixed, @FlxVctr ?

[2022-05-11 10:53] #19 closed, assigned to Khandoker09

[2022-10-24 14:56] JanRau opened #96 "Update Ethics Guide"
https://osf.io/qw9ck/
https://www.tandfonline.com/doi/full/10.1080/00031305.2017.1399928

Update Copyright changes

Check out Text as Data p37 for ethics guide

[2022-11-02 12:21] #90 closed, assigned to Khandoker09